################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Publicaciones/FileContentIndex
/Publicaciones/.vs/Publicaciones/FileContentIndex/18102823-aaad-4c96-9b0a-f10dad2101b8.vsidx
*.vsidx
