################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Publicaciones/.vs/Publicaciones/FileContentIndex/503e84fe-5aca-458e-a679-2668e9760866.vsidx
