@model Publicaciones.Web.Models.Responses.Pub_Info.Pub_InfoViewResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pub_Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <label asp-for="PubInfoID" class="control-label"></label>
                <input asp-for="PubInfoID" class="form-control" readonly />
                <span asp-validation-for="PubInfoID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PubID" class="control-label"></label>
                <input asp-for="PubID" class="form-control" />
                <span asp-validation-for="PubID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pr_Info" class="control-label"></label>
                <input asp-for="Pr_Info" class="form-control" />
                <span asp-validation-for="Pr_Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
