@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">WELCOME TO OUR PAGE</h1>
@* 
<div class="cont">
    <h2 class="text-center">LOGIN FORM</h2>

    <div class="mb-3 mt-3">
        <label for="iptEmail">Email</label>
        <input placeholder="Type your Email here!" type="email" class="form-control"></input>
    </div>

    <div class="mb-3 mt-3">
        <label for="iptEmail">Password</label>
        <input placeholder="Type your password here!" type="password" class="form-control"></input>
    </div>
    <div class="mb-5">
        <button type="submit" class="btn btn-primary btn-success btn-lg">Submit</button>
    </div>
</div>

<style>
    .cont {
        justify-content: center;
        background-color: whitesmoke;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

        .cont input {
            height: fit-content;
            border-color: black;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
</style>
 *@