@model Publicaciones.Web.Models.Responses.Store.StoreViewResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Store</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="storeID" class="control-label">Store ID</label>
                <input asp-for="storeID" class="form-control" readonly/>
                <span asp-validation-for="storeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="storeName" class="form-control" />
                <span asp-validation-for="storeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Address</label>
                <input asp-for="storeAddress" class="form-control" />
                <span asp-validation-for="storeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">City</label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">State</label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ZIP</label>
                <input asp-for="zip" class="form-control" />
                <span asp-validation-for="zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
