@model Publicaciones.Web.Models.Response.TitleAuthorResponse.TitleAuthorViewResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="au_ID" class="control-label"></label>
                <input asp-for="au_ID" class="form-control" />
                <span asp-validation-for="au_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title_ID" class="control-label"></label>
                <input asp-for="title_ID" class="form-control" />
                <span asp-validation-for="title_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="au_Ord" class="control-label"></label>
                <input asp-for="au_Ord" class="form-control" />
                <span asp-validation-for="au_Ord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="royaltyPer" class="control-label"></label>
                <input asp-for="royaltyPer" class="form-control" />
                <span asp-validation-for="royaltyPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="changeUser" class="control-label"></label>
                <input asp-for="changeUser" class="form-control" />
                <span asp-validation-for="changeUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="changeDate" class="control-label"></label>
                <input asp-for="changeDate" class="form-control" />
                <span asp-validation-for="changeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
