@model Publicaciones.Web.Models.Responses.Titles.TitlesViewResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <label asp-for="Title_ID" class="control-label"></label>
                <input asp-for="Title_ID" class="form-control" readonly />
                <span asp-validation-for="Title_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubID" class="control-label"></label>
                <input asp-for="PubID" class="form-control" />
                <span asp-validation-for="PubID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubName" class="control-label"></label>
                <input asp-for="PubName" class="form-control" />
                <span asp-validation-for="PubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubDate" class="control-label"></label>
                <input asp-for="PubDate" class="form-control" />
                <span asp-validation-for="PubDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Royalty" class="control-label"></label>
                <input asp-for="Royalty" class="form-control" />
                <span asp-validation-for="Royalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
