@model Publicaciones.Web.ViewModels.Models.JobViewModels.JobDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}


<div class="card col-6 offset-3 mt-3" style="font-family:'Times New Roman', Times, serif">
    <div class="card-header">
        <h4>Are you sure you want to delete this?</h4>
        <hr />
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Publisher ID:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.JobID)</dd>

            <dt class="col-sm-3">Deleted:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Deleted)</dd>

            <dt class="col-sm-3">Deleted User:</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.ChangeUser)</dd>

            <dt class="col-sm-3">Deleted Date:</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.ChangeDate) </dd>
        </dl>
        <div>
            <form asp-action="Delete" class="card-footer">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>