@model Publicaciones.Application.DTO.Jobs.JobsDtoUpdate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JobsDtoUpdate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobID" class="control-label"></label>
                <input asp-for="JobID" class="form-control" />
                <span asp-validation-for="JobID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <input asp-for="JobDescription" class="form-control" />
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minlvl" class="control-label"></label>
                <input asp-for="Minlvl" class="form-control" />
                <span asp-validation-for="Minlvl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maxlvl" class="control-label"></label>
                <input asp-for="Maxlvl" class="form-control" />
                <span asp-validation-for="Maxlvl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeUser" class="control-label"></label>
                <input asp-for="ChangeUser" class="form-control" />
                <span asp-validation-for="ChangeUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeDate" class="control-label"></label>
                <input asp-for="ChangeDate" class="form-control" />
                <span asp-validation-for="ChangeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
