@model Publicaciones.Web.ViewModels.Models.JobViewModels.JobDefaultViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="card bg-light col-8 offset-4" style="width:400px; font-family:'Times New Roman', Times, serif">
    <div class="card-header">
        <h4>Modify your Job</h4>
        <hr />
        <div class="row">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Job Description:</label>
                        <input asp-for="JobDescription" class="form-control" />
                        <span asp-validation-for="JobDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Minlvl:</label>
                        <input asp-for="Minlvl" class="form-control" />
                        <span asp-validation-for="Minlvl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Maxlvl:</label>
                        <input asp-for="Maxlvl" class="form-control" />
                        <span asp-validation-for="Maxlvl" class="text-danger"></span>
                    </div>
                    <div class="form-group card-footer">

                        <hr/>
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
