@model Publicaciones.Web.Models.Responses.RoySched.RoySchedViewResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RoySched</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <label asp-for="RoySched_ID" class="control-label"></label>
                <input asp-for="RoySched_ID" class="form-control" readonly />
                <span asp-validation-for="RoySched_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title_ID" class="control-label"></label>
                <input asp-for="Title_ID" class="form-control" />
                <span asp-validation-for="Title_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Royalty" class="control-label"></label>
                <input asp-for="Royalty" class="form-control" />
                <span asp-validation-for="Royalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoRange" class="control-label"></label>
                <input asp-for="LoRange" class="form-control" />
                <span asp-validation-for="LoRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiRange" class="control-label"></label>
                <input asp-for="HiRange" class="form-control" />
                <span asp-validation-for="HiRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
