@model Publicaciones.Web.Models.Responses.RoySched.RoySchedViewResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RoySchedViewResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="roySchedID" class="control-label"></label>
                <input asp-for="roySchedID" class="form-control" />
                <span asp-validation-for="roySchedID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titleID" class="control-label"></label>
                <input asp-for="titleID" class="form-control" />
                <span asp-validation-for="titleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="royalty" class="control-label"></label>
                <input asp-for="royalty" class="form-control" />
                <span asp-validation-for="royalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loRange" class="control-label"></label>
                <input asp-for="loRange" class="form-control" />
                <span asp-validation-for="loRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hiRange" class="control-label"></label>
                <input asp-for="hiRange" class="form-control" />
                <span asp-validation-for="hiRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
